<section class="my-5 py-5">
  <div class="container">
    <div class="row g-4">
      <!-- Card 1 -->
      <div class="col-12 col-lg-4 d-flex">
        <div
          class="row-card flex-fill d-flex flex-column justify-content-center align-items-center p-4 text-center"
        >
          <img src="{{ "img/icons/beer.png" | relURL}}" alt="icon"
          class="img-fluid" style="max-width: 100px; height: auto;" />
          <h5 class="mt-4">TRADITIONAL CRAFTSMANSHIP</h5>
          <p class="mt-3">
            Every drop is made using authentic recipes and artisanal methods
            passed down through generations.
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-12 col-lg-4 d-flex">
        <div
          class="row-card flex-fill d-flex flex-column justify-content-center align-items-center p-4 text-center"
        >
          <img src="{{ "img/icons/mandarin.png" | relURL}}" alt="icon"
          class="img-fluid" style="max-width: 100px; height: auto;" />
          <h5 class="mt-4">NATURAL ORIGIN</h5>
          <p class="mt-3">
            Crafted exclusively from Japanese persimmon — a fruit known for its
            purity, nutritional value, and natural growth in the Valandovo
            region.
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-12 col-lg-4 d-flex">
        <div
          class="row-card flex-fill d-flex flex-column justify-content-center align-items-center p-4 text-center"
        >
          <img src="{{ "img/icons/sun.png" | relURL}}" alt="icon"
          class="img-fluid" style="max-width: 100px; height: auto;" />
          <h5 class="mt-4">SYMBOL OF MACEDONIA</h5>
          <p class="mt-3">
            Born under the Macedonian sun, each product carries the essence of
            our land. The sun is our inspiration and the heart of every
            creation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
