<section class="my-5">
  <div style="background-color: var(--beige)">
    <div class="container px-3">
      <div class="row align-items-center py-5">
        <!-- Image Column -->
        <div class="col-12 col-md-6 text-center mb-4 mb-md-0 py-5">
          <img
            src="/img/brewery_interior.jpg"
            alt="Our Winery"
            class="img-fluid rounded shadow"
            style="max-width: 450px; width: 100%; height: auto"
          />
        </div>

        <!-- Text Column -->
        <div class="col-12 col-md-6">
          {{ if eq .Site.Language.Lang "en" }}
          <h2 class="mb-3">
            WHY CHOOSE US?<br />
            WHAT MAKES US DIFFERENT?
          </h2>
          <p>
            First in the region and beyond to craft spirits and vinegar from
            Japanese persimmon. Exclusive persimmon-based spirits — a rare and
            authentic taste. Traditional methods, modern quality control — the
            best of both worlds. Grown under the Macedonian sun — rich soil,
            pure flavors. 100% natural fermentation — no additives, no
            shortcuts.
          </p>
          {{ end }} {{ if eq .Site.Language.Lang "mk" }}
          <h2 class="mb-3">
            ЗОШТО ДА НЕ ИЗБЕРЕТЕ НАС?<br />
            ШТО НЕ ПРАВИ РАЗЛИЧНИ?
          </h2>
          <p>
            Први во регионот и пошироко што создаваат ракија и оцет од јапонско
            јаболко. Ексклузивни производи од јапонско јаболко — редок и
            автентичен вкус. Традиционални методи, современа контрола на
            квалитет — најдоброто од двата света. Одгледано под македонското
            сонце — богата почва, чисти вкусови. 100% природна ферментација —
            без адитиви, без кратки патишта.
          </p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
