<section class="my-5">
  <div class="container px-3 text-center">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h3 class="mb-4"><strong>FEATURED PRODUCTS</strong></h3>
      <p class="mb-0">
        Crafted with Care. Rooted in Tradition. Inspired by Nature. At Makedon
        Sun, each product reflects our passion for quality and innovation. From
        vineyard to bottle, we combine traditional craftsmanship with the
        richness of Japanese persimmon to offer a truly unique experience.
      </p>
    </div>
  </div>
</section>
