<section>
  <div
    style="
      background: linear-gradient(
        to top,
        var(--light-gray) 60%,
        transparent 50%
      );
    "
    class="pb-5"
  >
    <div class="container px-5">
      <div class="row align-items-center">
        <div class="col-md-6 text-center p-5">
          <img
            src="/img/brewery_interior.jpg"
            alt="Our Winery"
            class="img-fluid rounded shadow"
            style="max-width: 100%"
          />
        </div>
        <div class="col-md-6">
          <h2 class="mb-5">Persimmon - Nature's Golden Fruit</h2>
          <p>
            <br />First in the region and beyond to craft spirits and vinegar
            from Japanese persimmon Exclusive persimmon-based spirits — a rare
            and authentic taste Traditional methods, modern quality control —
            the best of both worlds Grown under the Macedonian sun — rich soil,
            pure flavors 100% natural fermentation — no additives, no shortcuts
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
