<section
  class="my-5"
  style="
    background-image: url('/img/brewery_interior.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 150px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="color: white"
  >
    <h1 class="">Welcome to MAKEDON SUN</h1>
    <h5 class="lined-text my-5">WINERY & DISTILERY</h5>
    <h5><em>Made from japanese persimmon</em></h5>
  </div>
</section>
