<section
  class="mt-5 d-flex align-items-center justify-content-center position-relative"
  style="
    background-image: url('/img/brewery_interior.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 80px;
    min-height: 80vh;
    padding: 3rem 1rem;
  "
>
  <div class="text-center text-white" style="max-width: 90vw">
    <h1 class="mb-3 display-1">
      {{ if eq .Site.Language.Lang "en" }} Welcome to
      <span style="font-weight: 600">MAKEDON SUN</span> {{ else if eq
      .Site.Language.Lang "mk" }} Добредојдовте во
      <span style="font-weight: 600">MAKEDON SUN</span>
      {{ end }}
    </h1>

    <h5 class="lined-text my-4 display-5">
      {{ if eq .Site.Language.Lang "en" }} WINERY & DISTILLERY {{ else if eq
      .Site.Language.Lang "mk" }} ВИНАРИЈА & ДИСТИЛЕРИЈА {{ end }}
    </h5>

    <h5 class="fs-6 fs-md-5">
      <em>
        {{ if eq .Site.Language.Lang "en" }} Made from Japanese persimmon {{
        else if eq .Site.Language.Lang "mk" }} Направено од јапонско јаболко {{
        end }}
      </em>
    </h5>
  </div>
</section>
