<section class="my-5">
  <div class="container px-3 text-center">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h3 class="mb-4">Let's Get in Touch</h3>
      <hr
        style="
          width: 10vw; /* 10% of viewport width, scales on mobile */
          height: 2px; /* line thickness */
          background-color: #000; /* black color */
          border: none;
          opacity: 100%;
          margin: 0.75rem auto 1.5rem auto; /* vertical spacing, centered */
        "
      />
      <p class="mb-0 px-3" style="max-width: 900px; margin: 0 auto">
        We would love to hear from you! Whether you have a question about our
        MAKEDON SUN products, are interested in distribution, or in placing
        retail or wholesale orders of our Japanese apple wines, spirits, or
        vinegar, or simply want to connect with us, feel free to reach out. Our
        team is always available to provide you with the information and support
        you need. We are also at your disposal for collaboration on both the
        domestic and international market.
      </p>
    </div>
  </div>
</section>
