<section
  class="my-5"
  style="
    background-image: url('/img/about-us/barrel-logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2rem;
  "
>
  <div class="p-4" style="text-align: right; max-width: 500px; width: 100%">
    <h1 class="mb-3" style="font-size: clamp(1.5rem, 5vw, 2.5rem)">ABOUT US</h1>
    <p style="font-size: clamp(0.9rem, 2.5vw, 1.1rem)">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
      inventore magni, rerum est numquam quibusdam dicta sint fuga amet dolores!
      Labore deserunt iure ducimus illum quidem perspiciatis fugit, praesentium
      porro quibusdam.
    </p>
  </div>
</section>
