<section
  class="my-5 d-flex align-items-center justify-content-center"
  style="
    background-image: url('/img/about-us/barrel_rustic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
    padding: 2rem;
    color: white;
  "
>
  <div class="p-4 text-center" style="max-width: 500px; width: 100%">
    {{ if eq .Site.Language.Lang "mk" }}
    <h1 class="display-1" style="font-weight: 600">ЗА НАС</h1>

    {{ else }}
    <h1 class="display-1" style="font-weight: 600">ABOUT US</h1>

    {{ end }}
  </div>
</section>
<section
  class="d-flex my-5 py-5 flex-column align-items-center justify-content-center"
>
  <div class="container px-3 text-center">
    <div class="d-flex flex-column align-items-center justify-content-center">
      {{ if eq .Site.Language.Lang "en" }}
      <p class="mb-0 px-3" style="max-width: 700px; margin: 0 auto">
        We are a relatively new, family-owned winery and distillery from
        Valandovo, the warmest region in Macedonia. Our name – MAKEDON SUN – was
        inspired by the strong and radiant Macedonian sun, a true symbol of our
        land and heritage. Guided by tradition, passion, and innovation, we
        craft authentic wines, spirits, and unique products made from Japanese
        apples, grown in one of the most fertile and sun-kissed areas of the
        country. Every drop reflects the power of nature and the spirit of
        Macedonia.
      </p>
      {{ end }} {{ if eq .Site.Language.Lang "mk" }}
      <p class="mb-0 px-3" style="max-width: 700px; margin: 0 auto">
        Ние сме релативно нова, семејна винарија и дестилерија од Валандово,
        најтоплиот регион во Македонија. Нашето име – MAKEDON SUN – е
        инспирирано од силното и сјајно македонско сонце, вистински симбол на
        нашата земја и наследство. Водени од традиција, страст и иновација,
        создаваме автентични вина, алкохолни пијалоци и уникатни производи од
        јапонски јаболки, одгледани во една од најплодните и најсончеви области
        во земјата. Секоја капка ја одразува моќта на природата и духот на
        Македонија.
      </p>
      {{ end }}
    </div>
  </div>
</section>
