<section
  style="
    background: linear-gradient(to top, var(--light-gray) 70%, transparent 50%);
  "
  class="mt-5"
>
  <div class="container px-5">
    <div class="row align-items-center">
      <div class="col-md-6 text-end p-5">
        <img
          src="/img/about-us/machine.jpg"
          alt="Our Winery"
          class="img-fluid rounded shadow"
          style="max-width: 70%"
        />
      </div>
      <div class="col-md-6 text-start p-5">
        <img
          src="/img/about-us/abandoned-building.jpg"
          alt="Our Winery"
          class="img-fluid rounded shadow"
          style="max-width: 70%"
        />
      </div>
    </div>
  </div>
</section>
