<section
  class="mt-5"
  style="
    background: linear-gradient(to top, var(--light-gray) 70%, transparent 50%);
  "
>
  <div class="container px-3">
    <div class="row align-items-center">
      <!-- Right-aligned Image -->
      <div class="col-12 col-md-6 text-center text-md-end mb-4 mb-md-0 p-4">
        <img
          src="/img/about-us/machine.jpg"
          alt="Our Winery"
          class="img-fluid rounded shadow"
          style="max-width: 70%; height: auto"
        />
      </div>

      <!-- Left-aligned Image -->
      <div class="col-12 col-md-6 text-center text-md-start p-4">
        <img
          src="/img/about-us/abandoned-building.jpg"
          alt="Our Winery"
          class="img-fluid rounded shadow"
          style="max-width: 70%; height: auto"
        />
      </div>
    </div>
  </div>
</section>
