<section
  style="
    background: linear-gradient(
      to left,
      var(--light-gray) 25%,
      transparent 20%
    );
  "
  class="my-5"
>
  <div class="container px-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="mb-3"><strong>Makedon Sun</strong> - Winery & Distilery</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias
          beatae officiis ut! Soluta, illum voluptas quos explicabo nulla
          dolorem corrupti porro optio beatae culpa magni deleniti commodi totam
          placeat? Laborum est officia delectus? Blanditiis eos quod facere sint
          aliquid exercitationem quos, consequatur ex laudantium eius ea eaque,
          repudiandae, odit aut.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem veniam
          earum delectus rerum, aut aperiam deleniti tempore quibusdam quasi cum
          sapiente cumque totam obcaecati, placeat, laborum magnam eligendi a
          similique.
        </p>
      </div>
      <div class="col-md-6 text-center p-5">
        <img
          src="/img/brewery_interior.jpg"
          alt="Our Winery"
          class="img-fluid rounded shadow"
          style="max-width: 100%"
        />
      </div>
    </div>
  </div>
</section>
