<section>
  <div
    style="
      background: linear-gradient(
        to right,
        var(--light-gray) 35%,
        transparent 30%
      );
    "
    class="mb-5"
  >
    <div class="container px-5">
      <div class="row align-items-center">
        <div class="col-md-6 text-center p-5">
          <img
            src="/img/about-us/steel-tanks.jpg"
            alt="Our Winery"
            class="img-fluid rounded shadow"
            style="max-width: 100%"
          />
        </div>
        <div class="col-md-6 text-end">
          <h2 class="mb-3">Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
            assumenda aliquid recusandae aut ea consequatur nobis enim! Quidem
            voluptatum ipsam blanditiis odit modi commodi tempora! Mollitia
            neque quibusdam labore voluptatem?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
