<section>
  <div
    class="mb-5"
    style="
      background: linear-gradient(
        to right,
        var(--light-gray) 35%,
        transparent 30%
      );
    "
  >
    <div class="container px-3">
      <div class="row align-items-center">
        <!-- Image Column -->
        <div class="col-12 col-md-6 text-center mb-4 mb-md-0 py-4">
          <img
            src="/img/about-us/steel-tanks.jpg"
            alt="Our Winery"
            class="img-fluid rounded shadow"
            style="max-width: 100%; height: auto"
          />
        </div>

        <!-- Text Column -->
        <div class="col-12 col-md-6 text-md-end text-center">
          <h2 class="mb-3" style="font-size: clamp(1.5rem, 3vw, 2rem)">
            Lorem, ipsum dolor.
          </h2>
          <p style="font-size: clamp(0.9rem, 2.2vw, 1rem)">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
            assumenda aliquid recusandae aut ea consequatur nobis enim! Quidem
            voluptatum ipsam blanditiis odit modi commodi tempora! Mollitia
            neque quibusdam labore voluptatem?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
