<div class="row m-5">
  <div class="col-12 col-lg-4 mb-4 d-flex">
    <div
      class="row-card p-5 m-3 flex-fill d-flex flex-column justify-content-center align-items-center"
    >
      <img src="{{ "img/icons/beer.png" | relURL}}" alt="icon" style="width:
      100px; height: 100px" />
      <h5 class="mt-5">TRADITIONAL CRAFTSMANSHIP</h5>
      <p class="mt-5">
        Every drop is made using authentic recipes and artisanal methods passed
        down through generations.
      </p>
    </div>
  </div>

  <div class="col-12 col-lg-4 mb-4 d-flex">
    <div
      class="row-card p-5 m-3 flex-fill d-flex flex-column justify-content-center align-items-center"
    >
      <img src="{{ "img/icons/mandarin.png" | relURL}}" alt="icon" style="width:
      100px; height: 100px" />
      <h5 class="mt-5">NATURAL ORIGIN</h5>
      <p class="mt-5">
        Crafted exclusively from Japanese persimmon — a fruit known for its
        purity, nutritional value, and natural growth in the Valandovo region.
      </p>
    </div>
  </div>

  <div class="col-12 col-lg-4 mb-4 d-flex">
    <div
      class="row-card p-5 m-3 flex-fill d-flex flex-column justify-content-center align-items-center"
    >
      <img src="{{ "img/icons/sun.png" | relURL}}" alt="icon" style="width:
      100px; height: 100px" />
      <h5 class="mt-5">SYMBOL OF MACEDONIA</h5>
      <p class="mt-5">
        Born under the Macedonian sun, each product carries the essence of our
        land. The sun is our inspiration and the heart of every creation.
      </p>
    </div>
  </div>
</div>
