<section class="my-5">
  <div class="container px-3 text-center">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h3 class="mb-4">Let's Get in Touch</h3>
      <hr
        style="
          width: 10vw; /* 10% of viewport width, scales on mobile */
          height: 2px; /* line thickness */
          background-color: #000; /* black color */
          border: none;
          opacity: 100%;
          margin: 0.75rem auto 1.5rem auto; /* vertical spacing, centered */
        "
      />
      <p class="mb-0">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores
        necessitatibus exercitationem, atque accusantium sint laudantium laborum
        consectetur eligendi consequuntur aliquid sunt voluptatum eum soluta aut
        laboriosam dicta nobis debitis amet quae esse non, molestias labore
        nesciunt id? Fugit, distinctio, unde labore quos eius molestiae magnam
        nostrum quasi similique porro aspernatur quo! Laudantium dignissimos
        odio perferendis a eaque cupiditate ab exercitationem voluptatem esse
        commodi sed tenetur, culpa rerum eos et quos!
      </p>
    </div>
  </div>
</section>
