<section class="py-5" style="background-color: var(--light-gray)">
  <div class="container px-3 text-center text-md-start">
    <div class="row justify-content-center mt-4">
      <!-- Contact Info -->
      <div class="col-12 col-md-4 mb-4">
        <h5>Contact</h5>
        <p class="mb-2">
          <img src="/img/icons/phone.png" alt="Phone" class="me-2 icon" />
          <strong>Phone:</strong> +389 70 123 456
        </p>
        <p class="mb-2">
          <img src="/img/icons/email.png" alt="Email" class="me-2 icon" />
          <strong>Email:</strong> info@makedonsun.com
        </p>
        <p class="mb-2">
          <img src="/img/icons/location.png" alt="Address" class="me-2 icon" />
          <strong>Address:</strong> Valandovo, Macedonia
        </p>
      </div>

      <!-- Social Media -->
      <div class="col-12 col-md-4 mb-4">
        <h5>Follow Us</h5>
        <div class="d-flex justify-content-center justify-content-md-start">
          <a href="#" class="me-3" target="_blank">
            <img src="/img/icons/facebook.png" alt="Facebook" class="icon" />
          </a>
          <a href="#" class="me-3" target="_blank">
            <img src="/img/icons/facebook.png" alt="Instagram" class="icon" />
          </a>
          <a href="#" class="me-3" target="_blank">
            <img src="/img/icons/facebook.png" alt="Twitter" class="icon" />
          </a>
          <a href="#" target="_blank">
            <img src="/img/icons/facebook.png" alt="LinkedIn" class="icon" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .icon {
    width: 40px;
    height: 40px;
    max-width: 10vw;
    max-height: 10vw;
  }
</style>
